@import "../../styles/setup/variables.scss";
@import "../../styles/setup/mixins.scss";

.hearderAboutContainer {
  background-color: $midnight-green;
  position: relative;
  padding: 47px 165px 120px;
  @include flex-container(row, center, center, 30px);

  .title {
    h1 {
      width: 350px;
      @include typography(h1-small);
      line-height: 100px;
    }
  }

  div {
    @include flex-container(column, center, space-between, 40px);
  }
  hr {
    @include hr($light-coral);
  }

  img {
    position: absolute;
    bottom: 0;
    right: -100px;
    width: 200px;
    height: 200px;
  }
}
