@import "../../styles/setup/variables.scss";
@import "../../styles/setup/mixins.scss";

.reviewsContainer {
  background-color: $deep-jungle-green;
  position: relative;
  padding: 140px 165px 151px;

  @include respond-to(tablet) {
    padding: 100px 98px 100px 97px;
  }
  @include respond-to(mobile) {
    padding: 140px 24px 164px;
  }

  & > :first-child {
    position: absolute;
    top: 0;
    left: 0;
  }
  & > :nth-child(2) {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  h2 {
    @include typography(h2);
    text-align: center;
    margin-bottom: 56px;
    span {
      color: $rapture-blue;
    }
  }

  ul {
    @include flex-container(row, space-between, center, 30px);

    @include respond-to(tablet) {
      @include flex-container(column, space-between, center, 48px);
    }
  
    li {
      position: relative;
      @include flex-container(column, space-between, center, 24px);
      padding: 36px 0 11px;
      .iconquotes {
        position: absolute;
        top: 0;
        width: 67px;
        height: 56px;
      }

      p {
        @include typography(body2);
        text-align: center;
        z-index: 3;
      }

      h3 {
        @include typography(h3);
        color: $rapture-blue;
      }

      .avatar {
        width: 62px;
        height: 62px;
        border-radius: 62px;
        border: 2px solid #c4fffe;
      }
    }
  }
}
