@mixin typography($type) {
  @if $type == "h1-large" {
    font-size: 100px;
    font-weight: $font-weight-bold;
    line-height: 100px;
    @include respond-to("tablet") {
      font-size: 64px;
      line-height: 56px;
    }
    @include respond-to("mobile") {
      font-size: 40px;
      line-height: 40px;
    }
  } @else if $type == "h1-small" {
    font-size: 64px;
    font-weight: $font-weight-semi-bold;
    line-height: 56px;
    @include respond-to("mobile") {
      font-size: 40px;
      line-height: 40px;
    }
  } @else if $type == "h2" {
    font-size: 48px;
    font-weight: $font-weight-bold;
    line-height: 48px;

    @include respond-to("tablet") {
      font-size: 32px;
      line-height: 32px;
    }
  } @else if $type == "h3" {
    font-size: 18px;
    font-weight: $font-weight-bold;
    line-height: 28px;
  } @else if $type == "body1" {
    font-size: 18px;
    font-weight: $font-weight-semi-bold;
    line-height: 28px;
    @include respond-to("tablet") {
      font-size: 15px;
      line-height: 28px;
    }

  } @else if $type == "body2" {
    font-size: 15px;
    font-weight: $font-weight-semi-bold;
    line-height: 25px;
  }
}

//buttons
@mixin button-style($button-type, $state, $theme: "light") {
  width: 153px;
  height: 48px;
  border: none;
  border-radius: 24px;
  flex-shrink: 0;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
  @include typography(body1);

  @if $theme == "light" {
    @if $button-type == "primary" {
      @if $state == "normal" {
        background-color: transparent;
        color: $white;
        border: 2px solid $white;
      } @else if $state == "hover" {
        background-color: $white;
        color: $dark-green;
      } @else if $state == "disabled" {
        background-color: $white;
        color: $dark-green;
        opacity: 0.25;
        cursor: not-allowed;
      }
    } @else if $button-type == "secondary" {
      color: $dark-green;
      @if $state == "normal" {
        background-color: $white;
        border: 2px solid $white;
      } @else if $state == "hover" {
        background-color: $rapture-blue;
      } @else if $state == "disabled" {
        background-color: $white;
        color: $dark-green;
        opacity: 0.25;
        cursor: not-allowed;
      }
    }
  } @else if $theme == "dark" {
    @if $state == "normal" {
      border: 2px solid $sacramento-state-green;
      color: $dark-green;
      background-color: transparent;
    } @else if $state == "hover" {
      background-color: $sacramento-state-green;
      color: $white;
    } @else if $state == "disabled" {
      border: 2px solid $sacramento-state-green;
      opacity: 0.25;
    }
  }
}

//FORM
@mixin form-field-base($type, $state) {
  background-color: transparent;
  color: $white;
  border-bottom: 1px solid $white;
  line-height: 25px;
  border: none;
  @include typography(body2);

  padding: 0 0 17px 14px;
  &::placeholder {
    color: $white;
  }
  @if $type == "input" {
    width: 248px;
    height: 42px;
    border-bottom: 1px solid $white;
  } @else if $type == "textarea" {
    width: 248px;
    height: 84px;
    border-bottom: 1px solid $white;
  }

  @if $state == "normal" {
    opacity: 0.6;
  } @else if $state == "active" {
    border-bottom: 1px solid $rapture-blue;
  } @else if $state == "error" {
    color: $light-coral;
    border-bottom: 1px solid $light-coral;
  }

  &::placeholder {
    opacity: 0.6;
  }

  &:focus {
    color: $white;
    outline: none;
  }

  &.error {
    color: $light-coral;
  }
}

// FLEX
@mixin flex-container(
  $direction: row,
  $justify: flex-start,
  $align: stretch,
  $gap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

//HR
@mixin hr($color) {
  width: 50px;
  height: 4px;
  background-color: $color;
  border: none;
}

//responsive
@mixin respond-to($breakpoint) {
  @if $breakpoint == "mobile" {
    @media (max-width: 375px) {
      @content;
    }
  } @else if $breakpoint == "tablet" {
    @media (max-width: 768px) {
      @content;
    }
  }
}
