@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@700&display=swap');

// COLOR PALETTE
    //Primary
$midnight-green: #014E56;
$light-coral: #F67E7E;
$white: #FFFFFF;
    //Secondary
$rapture-blue: #79C8C7;
$police-blue: #2C6269;
$deep-jungle-green: #004047;
$sacramento-state-green: #012F34;
$dark-green: #002529;

//FONT
$font-family: 'Livvic', sans-serif;
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
