@import "../../styles/setup/variables.scss";
@import "../../styles/setup/mixins.scss";

.headerContainer {
  background-color: $midnight-green;
  @include flex-container(row, space-between, center, 30px);
  position: relative;
  padding: 173px 165px 250px;

  @include respond-to(tablet) {
    @include flex-container(column, space-between, center, 24px);
    text-align: center;
    padding: 48px 40px 156px 45px;
  }
  @include respond-to(mobile) {
    @include flex-container(column, space-between, center, 18px);

    padding: 32px 24px 197px;
  }

  h1 {
    @include typography(h1-large);
    width: 635px;

    span {
      color: $light-coral;
    }

    @include respond-to(tablet) {
      width: 683px;
    }
    @include respond-to(mobile) {
      width: 327px;
    }
  }

  .rightHeader {
    @include flex-container(column, space-between, start, 79px);
    width: 445px;

    @include respond-to(tablet) {
      padding: 0 116px 0 110px;
     }

    hr {
      @include hr($rapture-blue);
      @include respond-to(tablet) {
        display: none;
       }
    }

    p {
      @include typography(body1);
      
    }
  }

  .pattern1 {
    position: absolute;
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: 250px;
    @include respond-to(tablet) {
     display: none;
    }
  }
  .pattern2 {
    position: absolute;
    width: 400px;
    right: 165px;
    bottom: 0;

    @include respond-to(tablet) {
      width: 40%;
     }
    @include respond-to(mobile) {
      width: 100%;
      right: 0;
     }
  }
}
