@import "../styles/setup/variables.scss";
@import "../styles/setup/mixins.scss";

.navContainer {
  background-color: $midnight-green;
  padding: 77px 165px;
}

ul,
.links {
  @include flex-container(row, space-between, center);
  list-style: none;
}


.links {
gap: 80px;
}

a{
    text-decoration: none;
    color: $white;
    margin-right: 20px;
}

button {
    @include button-style('primary', 'normal')
}