@import '../setup/variables.scss';
@import '../setup/mixins.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;

}


body {
    min-width: 1440px;
    margin: 0 auto;
    color: $white;
    @include respond-to("tablet") {
        min-width: 768px;
    }
    @include respond-to("mobile") {
        min-width: 375px;
    }
}